<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1 class="logo">The Ring</h1>
        <img class= logo-img src="../css/alliance.png" alt="">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/Contact">Contact Us</a></li>
        </ul>
    </nav>
    <div class="center-div">
      <div class="text">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in dui eget magna pharetra congue. Ut condimentum dapibus nunc, vitae mollis risus pellentesque id. Pellentesque maximus convallis efficitur. Donec convallis, justo eu tristique lobortis, massa mi suscipit velit, vel rhoncus arcu turpis id velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur eget imperdiet ipsum. Fusce porta mi ultrices nisl scelerisque tincidunt. Suspendisse dui tortor, interdum a velit vitae, dictum varius orci. Proin in gravida velit.</p>
      </div>
    </div>
    <footer>
        <p>Copyright The Ring 2021</p>
    </footer>
</body>
</html>
